*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: 'DMSansregular';
    
}

.wrapper{
    max-width: 1320px;
    width: 90%;
    margin: 0 auto;
    
}

@font-face {
    font-family: 'DMSansbold';
    src: url('./fonts/DMSans-Bold.woff2') format('woff2'),
        url('./fonts/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSanssemibold';
    src: url('./fonts/DMSans-SemiBold.woff2') format('woff2'),
        url('./fonts/DMSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSanslight';
    src: url('./fonts/DMSans-Light.woff2') format('woff2'),
        url('./fonts/DMSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSansmedium';
    src: url('./fonts/DMSans-Medium.woff2') format('woff2'),
        url('./fonts/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSansregular';
    src: url('./fonts/DMSans-Regular.woff2') format('woff2'),
        url('./fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montez';
    src: url('./fonts/Montez-Regular.woff2') format('woff2'),
        url('./fonts/Montez-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
