body {
  background-color: #0B0C0D;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  list-style: none;

    /* box-sizing: border-box; */
    /* overflow-x: hidden !important; */
    /* font-family: "Satoshi-Regular"; */
    
}
a,li {
  text-decoration: none;
  list-style: none;
  color: #949494;
}