h5 {
    font-size: 50px;
    color: blueviolet;
    text-transform: capitalize;
    cursor: pointer;
}
#button2 {
    background-color: rgb(96, 221, 255);
    padding: 20px;
    margin-top: 100px;
    text-transform: capitalize;
    cursor: pointer;
}
#button3 {
    background-color: rgb(134, 255, 104);
    padding: 20px;
    margin-top: 100px;
    text-transform: capitalize;
    cursor: pointer;
}
#button4 {
    background-color: rgb(242, 73, 231);
    padding: 20px;
    margin-top: 100px;
    text-transform: capitalize;
    cursor: pointer;
    color: azure;
}