* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
    list-style: none;
}
ol, ul {
	list-style: none;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'exoregular';
	font-size: 16px;
	color: #8e8e8e;
	/* overflow-x: hidden; */
    background-color: #0A0A0B;
    color: #FFFFFF;
}
input,textarea,select {
	font-family: 'exoregular';
}
a {
	color: #FFFFFF;
}
a:hover,.submit:hover {
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
p {
	line-height:1.6em;
    
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}
@font-face {
    font-family: 'exosemibold';
    src: url('../fonts/Exo-SemiBold.woff2') format('woff2'),
        url('../fonts/Exo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'exomedium';
    src: url('../fonts/Exo-Medium.woff2') format('woff2'),
        url('../fonts/Exo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'exoregular';
    src: url('../fonts/Exo-Regular.woff2') format('woff2'),
        url('../fonts/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
header {

}
header div.container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
    text-transform: capitalize;
}
header div.container h1 {

}
header div.container h1 a {
    display: flex;
    align-items: center;
    gap: 4px;
}
header div.container h1 a div.logoframe {
    display: flex;
    align-items: center;
    width: 30px;
}
header div.container h1 a img {
    width: 100%;
}
header div.container h1 a p {
    
}
header div.container nav {
    
}
header div.container nav ul {
    display: flex;
    gap: 60px;
}
header div.container nav ul li {
    
}

header div.container nav ul li:nth-child(1) a {
    color: #4177DC;
    text-shadow: 0px 0px 32px #346DDA;
}
header div.container nav ul li a {
    
}
div.cards {
    margin: 0 100px;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}
div.cards div.solocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    padding: 10px;
}
h2 {
    margin: 10px 0;
    color: red;
}
div.cards div.solocard p {
    color: #8e8e8e;
}
h3 {
    margin-top: 10px;
    font-style: italic;
    color: rgb(255, 255, 255);
    
}
div.cards div.solocard div.img {
    width: 200px;
    height: 250px;
}
div.cards div.solocard div.img img {
    width: 100%;
    height: 100%;
    display: block;
}
div.modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(233, 233, 233, 0.275);
    width: 100%;
    height: 100vh;
   
}
div.modal.showmodal{
    visibility: visible;
    user-select: auto;
    opacity: 1;
    pointer-events: all;
}
div.modalcontainer {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: #ffffff;
    /* padding: 20px; */
    text-align: center;
    width: 100%;
    height: 100vh;

}

div.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
div.close a{
    color: #0A0A0B;       
}
button {
    background-color: #4177DC;
}
div.modal-container p {
    color: black;
}
#modal div.close {

}
#modal div.close a {

}
#modal div.procontainer {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}
#modal div.procontainer div.proimg {
    width: 30%;
    transition: transform 0.3s ease;

}
#modal div.procontainer div.proimg:hover {
     transform: scale(1.1);
}
#modal div.procontainer div.proimg img {
    width: 100%;
}
#modal div.procontainer div.prodet {
    color: #0A0A0B;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    gap: 20px;

}
#modal div.procontainer div.prodet div.protitle {

}
#modal div.procontainer div.prodet div.protitle p {
    color: red;
    font-size: 30px;
}
#modal div.procontainer div.prodet div.proprice {

}
#modal div.procontainer div.prodet div.proprice p {
    font-size: 40px;
    font-weight: bolder;
}
#modal div.procontainer div.prodet div.prorating {

}
#modal div.procontainer div.prodet div.prorating p {

}
#modal div.procontainer div.prodet div.procat {
    font-size: 15px;
}
#modal div.procontainer div.prodet div.procat p {

}
#modal div.procontainer div.prodet div.procount {
    font-size: 15px;
}
#modal div.procontainer div.prodet div.procount p {

}
#modal div.procontainer div.prodet div.prodis {
    text-align: left;
    color: #8e8e8e;
}
#modal div.procontainer div.prodet div.prodis p {

}
#modal div.procontainer div.prodet div.purchase {
    display: flex;
    gap: 20px;
    margin-top: 100px;
}
#modal div.procontainer div.prodet div.purchase div.cart {
    cursor: pointer;
}
#modal div.procontainer div.prodet div.purchase div.cart a {
    font-size: 20px;
    text-transform: capitalize;
    background-color: 	#ff9900;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid black;
}
#modal div.procontainer div.prodet div.purchase div.buy {
    cursor: pointer;
}
#modal div.procontainer div.prodet div.purchase div.buy a {
    font-size: 20px;
    text-transform: capitalize;
    background-color: 	#ff9900;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid black;
}




