/* @import url('https://fonts.googleapis.com/css2?family=Amatic SC:wght@400;500;600&display=swap');
*{
  font-family: 'Amatic SC', sans-serif;
} */
body {
    background-color: #5eb7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 100px;
    
}
div.container {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
}
#toolboxid {
    background-color: #fff;
    width: 20%;
    border-radius: 5px;
    /* padding: 20px 0 ; */
    padding-top: 20px;
}
#toolboxid div.rows {
    
}
#toolboxid div.rows label {
    margin-left: 20px;
    font-size: 20px;
    text-transform: capitalize;
}
#toolboxid div.rows ul {

}
#toolboxid div.rows ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 18px;
    cursor: pointer;
}

.tool:hover {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
#line div.img {
    width: 20px;
}
#toolboxid div.rows ul li div.img {
    display: flex;
    justify-content: center;

}
#toolboxid div.rows ul li div.img img {
    width: 100%;
}
#toolboxid div.rows ul li span {
    
}

#toolboxid div.rows ul li input{
    display: flex;
    border: none;
}
#oo #fill-color {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}
div.option ul li:last-child input {
    width: 80%;
}

#toolboxid div.row {
    
}
#toolboxid div.rows ul {
    
}
#toolboxid div.rows.colors ul li {
    margin-top: 0;
}
#toolboxid div.colors ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}
div.colors ul li {
    
}
div.colors ul li.options:nth-child(1){
    background-color: #fff;
}
div.colors ul li.options:nth-child(2){
    background-color: #000000;
}
div.colors ul li.options:nth-child(3){
    background-color: rgb(234, 16, 16);
}
div.colors ul li.options:nth-child(4){
    background-color: green;
}
div.colors ul li.options:nth-child(5){
    background-color: #4898f7;
}
.options #colorpicker {
    border-radius: 50%;
    height: 15px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
div.colors ul li.options {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid grey;

} 
div.colors ul li.options.selected:after {
    content: "";
    height: 50%;
    width: 50%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #fff;

}
div.colors ul li:nth-child(1).options.selected:after {
    border: 2px solid #ac6f6f;
}
div.row button {
    display: flex;
    cursor: pointer;
}
button {
    padding: 15px 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

div.row.buttons {
    padding: 0 30px;
}
section.drawing-board{
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 5px;
    
}
canvas {
    width: 100%;
    background-color: #fff;
   
    border-radius: 5px;
}
button.clear {
    background-color: #fff;
    color: grey;
    border: 1px solid grey;
    font-size: 15px;
}
button.save-img {
    background-color: #5eb7f6;
    border: none;
    color: #fff;
    font-size: 15px;
}
#drawing-boardid canvas {
    width: 100%;
    height: 100%;
}
.active {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
#oo #spanlabel {
    font-size: 15px; 
    margin-left: 0;
}

.eraser-cursor {
    position: absolute;
    width: 1px; 
    height: 1px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    /* border-radius: 50%; */
    pointer-events: none; 
    z-index: 999; 
    display: none; 
}

.undoredo {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 30px;
    align-items: center;
}
.undoredo button {
    padding: 5px;
    width: auto;
    cursor: pointer;
    border: 1px solid #c0bfbf;ctx.lineCap = "round";
    margin: 0;
}
.undoredo button:hover {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
    border: 1px solid black;
}